
aside {    
    background-color: #FFFFFF; 
    padding: 40px;  
    padding-left: 0;      
}


.logo {
    margin-left: 60px;
    margin-top: 20px;
    width: 40px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}


.nav-list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.link {
    padding: 10px 10px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 10px;        
}

.active {
    background-color: #DDEDEA;
}

.nav-icons {
    width: 30px;
}