.main-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    align-items: center;

}

.greeting {
    font-size: 30px;
    margin-left: 20px;
    font-weight: 700;

}